<a href="https://colab.research.google.com/github/venkatesh-eranti/trivial_algos/blob/main/Prime_numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def prime(n):
    list_primes=[]
    if n<2:
        return 'no primes less than or equal to 1'
    elif n>=2:
        for i in range(2,n):
            for p in range(2,i):
                if i%p==0:
                    break
            else:
                list_primes.append(i)
    return list_primes

In [2]:
prime(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]